<a href="https://colab.research.google.com/github/archanaladke3/Adv/blob/master/basic2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRINGS

any sequence of characters be it letters,numbers,symbols which are enclosed in quotes is a string

In [ ]:
name ="shubhankar"
marks="333"
marks=333

##indexing

In [ ]:
accessing data by position

In [ ]:
print(name[0])

m

In [ ]:
print(name[-1]);

r

# New Section

#Tuples
list are mutable
tuples are imutable
consider tuples are local list

In [ ]:
shopping_tuples=("clothes","watch","shoes")

In [ ]:
print(shopping_tuples[1])

watch

#sets
there is no duplicate
No indexing
sets are used to duplicates items

In [ ]:
set={1,2,3,3,4,4,5,5}

In [ ]:
print(set)

{1, 2, 3, 4, 5}

In [ ]:
#adding and remove elemet
s1={6,7}
print(s1)
s1.add(34)
s2.remove(20)

{6, 7}

NameError: name 's2' is not defined

In [ ]:
print(s1)

{34, 6, 7}

In [ ]:
#union
a={1,2,3,4,5}
b={3,4,5,6}
print(a|b)

{1, 2, 3, 4, 5, 6}

In [ ]:
#intesection
print(a&b)

{3, 4, 5}

In [ ]:
# differnce
print(a.difference(b))
print(b.difference(a))

{1, 2}
{6}

In [ ]:
set1={12,13,14,15,16}
set2={13,14,15,16}

In [ ]:
#union
print(set1|set2)

{12, 13, 14, 15, 16}

In [ ]:
#intersection
print(set1&set2)

{16, 13, 14, 15}

In [ ]:
#differnce
print(set1.difference(set2))

{12}

##Dictonary
data stored in key value pair

In [ ]:
student= {
    "name":"priya",
    "age":29,
    "sub":"math",

}
print(student)
print(student["name"])

{'name': 'priya', 'age': 29, 'sub': 'math'}
priya

In [ ]:
#updating dictonary
student["school"]="vidhyamandir"
print(student)

{'name': 'priya', 'age': 29, 'sub': 'math', 'school': 'vidhyamandir'}

In [ ]:
student["rollno"]=121

In [ ]:
# udpate age 29 to 11
student["age"]=11
print(student)

{'name': 'priya', 'age': 11, 'sub': 'math', 'school': 'vidhyamandir', 'rollno': 121}

In [ ]:
# create dic with empcode,name,salary
empinfo = {
    "empcode":121,
         "empname":"jolly",
          "salary":30000
    }

print(empinfo)

{'empcode': 121, 'empname': 'jolly', 'salary': 30000}

In [ ]:
#add dept, country city

empinfo["department"]="IT"
empinfo["city"]="mumbai"
empinfo["country"]="india"
print(empinfo)

{'empcode': 121, 'empname': 'jolly', 'salary': 30000, 'department': 'IT', 'city': 'mumbai', 'country': 'india'}

In [ ]:
###Dictonary method
keys()method:
keys() method returns the all keys present in dectonary

In [ ]:
empinfo.keys()

dict_keys(['empcode', 'empname', 'salary', 'department', 'city', 'country'])

value()method
values() method returns all the method stored in dictonary

In [ ]:
empinfo.values()

dict_values([121, 'jolly', 30000, 'IT', 'mumbai', 'india'])

Items()
in items() methods return both keys and value present in dictonary

In [ ]:
empinfo.items()

dict_items([('empcode', 121), ('empname', 'jolly'), ('salary', 30000), ('department', 'IT'), ('city', 'mumbai'), ('country', 'india')])

##nested dict

In [ ]:
emp_n={"empcode":101,
       "name":"Riya",
       "adress":{
           "city":"pune",
           "county":"india"
       }

       }
print(emp_n)

{'empcode': 101, 'name': 'Riya', 'adress': {'city': 'pune', 'county': 'india'}}

In [ ]:
# accesing value
print(emp_n["adress"]["city"])

pune

In [ ]:
#keys
emp_n.keys()

dict_keys(['empcode', 'name', 'adress'])

In [ ]:
#value
emp_n.values()

dict_values([101, 'Riya', {'city': 'pune', 'county': 'india'}])

In [ ]:
#item
emp_n.items()

dict_items([('empcode', 101), ('name', 'Riya'), ('adress', {'city': 'pune', 'county': 'india'})])

## Type conversion

In [3]:
x="10"
type(x)
x=int(x)
type(x)

int

In [13]:
#take varible marks
#print "i got str(marks)"
marks=300

marks="i got "+str(marks)+" marks."
type(marks)
print(marks)

i got 300 marks.

#List and Tuples

In [15]:
numbers=[10,20,30,40,50]
print(type(numbers))

<class 'list'>

In [17]:
#list to tuples
t_num=tuple(numbers)
type(t_num)

tuple

##list And Set

In [19]:
numbers_s=[10,20,30,40,40,50,50]
set1=set(numbers_s)
print(type(numbers_s))

<class 'list'>

In [21]:
list1=list(set1) #convert set to list
print(type(list1))

<class 'list'>

##Numerical type Conversion

In [22]:
a=9
print(type(a))

<class 'int'>

In [23]:
b=float(a)
print(type(b))

<class 'float'>

In [24]:
# conver "55" to int and add 10 save op in new varible and print
a="55"
b=int(a)
c=b+10;
print(c)

65

In [26]:
#convert list[10,20,30] into tuple
mylist=[10,20,30]
mytuple=tuple((10,20,30))
print(mytuple)

(10, 20, 30)