<a href="https://colab.research.google.com/github/archanaladke3/Adv/blob/master/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRINGS

any sequence of characters be it letters,numbers,symbols which are enclosed in quotes is a string

In [ ]:
name ="shubhankar"
marks="333"
marks=333

##indexing

In [ ]:
accessing data by position

In [ ]:
print(name[0])

m

In [ ]:
print(name[-1]);

r

# New Section

#Tuples
list are mutable
tuples are imutable
consider tuples are local list

In [2]:
shopping_tuples=("clothes","watch","shoes")

In [3]:
print(shopping_tuples[1])

watch

#sets
there is no duplicate
No indexing
sets are used to duplicates items

In [4]:
set={1,2,3,3,4,4,5,5}

In [5]:
print(set)

{1, 2, 3, 4, 5}

In [12]:
#adding and remove elemet
s1={6,7}
print(s1)
s1.add(34)
s2.remove(20)

{6, 7}

NameError: name 's2' is not defined

In [10]:
print(s1)

{34, 6, 7}

In [25]:
#union
a={1,2,3,4,5}
b={3,4,5,6}
print(a|b)

{1, 2, 3, 4, 5, 6}

In [28]:
#intesection
print(a&b)

{3, 4, 5}

In [30]:
# differnce
print(a.difference(b))
print(b.difference(a))

{1, 2}
{6}

In [31]:
set1={12,13,14,15,16}
set2={13,14,15,16}

In [32]:
#union
print(set1|set2)

{12, 13, 14, 15, 16}

In [33]:
#intersection
print(set1&set2)

{16, 13, 14, 15}

In [35]:
#differnce
print(set1.difference(set2))

{12}

##Dictonary
data stored in key value pair

In [41]:
student= {
    "name":"priya",
    "age":29,
    "sub":"math",

}
print(student)
print(student["name"])

{'name': 'priya', 'age': 29, 'sub': 'math'}
priya

In [43]:
#updating dictonary
student["school"]="vidhyamandir"
print(student)

{'name': 'priya', 'age': 29, 'sub': 'math', 'school': 'vidhyamandir'}

In [44]:
student["rollno"]=121

In [46]:
# udpate age 29 to 11
student["age"]=11
print(student)

{'name': 'priya', 'age': 11, 'sub': 'math', 'school': 'vidhyamandir', 'rollno': 121}

In [50]:
# create dic with empcode,name,salary
empinfo = {
    "empcode":121,
         "empname":"jolly",
          "salary":30000
    }

print(empinfo)

{'empcode': 121, 'empname': 'jolly', 'salary': 30000}

In [52]:
#add dept, country city

empinfo["department"]="IT"
empinfo["city"]="mumbai"
empinfo["country"]="india"
print(empinfo)

{'empcode': 121, 'empname': 'jolly', 'salary': 30000, 'department': 'IT', 'city': 'mumbai', 'country': 'india'}

In [ ]:
###Dictonary method
keys()method:
keys() method returns the all keys present in dectonary

In [54]:
empinfo.keys()

dict_keys(['empcode', 'empname', 'salary', 'department', 'city', 'country'])

value()method
values() method returns all the method stored in dictonary

In [55]:
empinfo.values()

dict_values([121, 'jolly', 30000, 'IT', 'mumbai', 'india'])

Items()
in items() methods return both keys and value present in dictonary

In [56]:
empinfo.items()

dict_items([('empcode', 121), ('empname', 'jolly'), ('salary', 30000), ('department', 'IT'), ('city', 'mumbai'), ('country', 'india')])

##nested dict

In [57]:
emp_n={"empcode":101,
       "name":"Riya",
       "adress":{
           "city":"pune",
           "county":"india"
       }

       }
print(emp_n)

{'empcode': 101, 'name': 'Riya', 'adress': {'city': 'pune', 'county': 'india'}}

In [62]:
# accesing value
print(emp_n["adress"]["city"])

pune

In [63]:
#keys
emp_n.keys()

dict_keys(['empcode', 'name', 'adress'])

In [64]:
#value
emp_n.values()

dict_values([101, 'Riya', {'city': 'pune', 'county': 'india'}])

In [65]:
#item
emp_n.items()

dict_items([('empcode', 101), ('name', 'Riya'), ('adress', {'city': 'pune', 'county': 'india'})])

## Type conversion