<a href="https://colab.research.google.com/github/archanaladke3/Adv/blob/master/BreakAnd_continue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**BREAK**

*   Break is used to stop the loop immediately

In [4]:
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

##**Continue**

In [8]:
for i in range(1,11):
 if i==5:
  continue
 print(i)

1
2
3
4
6
7
8
9
10

In [9]:
#1.a user wants is intiating a withdrawl of given amount. check if the account has sufficent balance or not.
# if yes then>initiate the withdrawl, if not print "insufficeint balnce"

balnce=15000
if balnce>=1500:
  withdrow=5000
  balance=balnce-withdrow
  print("withrdrow","balnce:",balance)
else:
    print("insufficent amount")

withrdrow balnce: 10000

In [10]:
balance = 10000
withdrawl = int(input("enter a amount:"))
if withdrawl>balance :
  print("insufficient balance")
else : print("sufficient balance")

enter a amount:3000
sufficient balance

In [11]:
#2.Write a function cal(a,b,c) rhat gives sum, product,difference
def cal(a,b,c):
  sum=a+b+c
  print(sum)
  product=a*b*c
  print(product)
  differnce=a-b-c
  print(differnce)
cal(3,6,8)

17
144
-11

In [13]:
#3.Write a function intro(name,class, city) and call it using keyword arguments
def intro(name,course,city):
  print("name :",name,"course :",course,"city :",city)
intro("archana","DS","pune")

name : archana course : DS city : pune

##Keyword arg allows to ignore order while calling function

In [19]:
# Create two function:
#square
#Cube
# cube function should be internally
def cube(n):
  return  n*n*n

def square(no):
  sq=no*no
  print("square",sq)
  cu=cube(n)
  print("cube :",cu)

In [25]:
cube(3)
square(2)

square 4
cube : 8

In [28]:
#5. Write a function bill(amount,tax) that retunrs final amount after adding tax
#tax=18%
amount=int(input("enter amount"))
tax=float(input("enter tax value"))

def amount(amount,tax):
  billamount=amount+tax
  return billamount

  amount(amount,tax)

enter amount1200
enter tax value0.18

**#LAMDA fUNCTIONS**


LAMBDA FUNCTIONS is short one line function

In [ ]:
#Syntax
#Lambda pareameters:expression
#lambda:keyword
#parameter:input
# expression:logic

In [30]:
def sqr(x):
  return x*x

In [31]:
print(sq(5))

25

In [29]:
sq=lambda x:x*x

In [32]:
#Write a lambda fun to add two numers
add=lambda a,b:a+b
print(add(2,4))

6

In [35]:
#Write a lambda fun to get last character of string
last_char=lambda a:a[-1]
print(last_char("Vikas"))

s